In [2]:
import warnings
warnings.simplefilter('ignore')
import numpy as np      
import pandas as pd
credit = pd.read_csv("ccd.csv")

In [3]:
credit

,Male,Age,Debt,Married,Bank Customer,Education Level,Ethnicity,Years Employed,Prior Default,Employed,Credit Score,Driver's License,Citizen,Zip Code,Income,Approved
0,1,30.83,0.000,0,0,8,0,1.25,1,1,1,0,0,202,0,1
1,0,58.67,4.460,0,0,7,1,3.04,1,1,6,0,0,43,560,1
2,0,24.50,0.500,0,0,7,1,1.50,1,0,0,0,0,280,824,1
3,1,27.83,1.540,0,0,8,0,3.75,1,1,5,1,0,100,3,1
4,1,20.17,5.625,0,0,8,0,1.71,1,0,0,0,2,120,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
648,1,21.08,10.085,1,1,10,1,1.25,0,0,0,0,0,260,0,0
649,0,22.67,0.750,0,0,0,0,2.00,0,1,2,1,0,200,394,0
650,0,25.25,13.500,1,1,12,7,2.00,0,1,1,1,0,200,1,0
651,1,17.92,0.205,0,0,11,0,0.04,0,0,0,0,0,280,750,0
652,1,35.00,3.375,0,0,0,1,8.29,0,0,0,1,0,0,0,0

In [4]:
credit.describe()

,Male,Age,Debt,Married,Bank Customer,Education Level,Ethnicity,Years Employed,Prior Default,Employed,Credit Score,Driver's License,Citizen,Zip Code,Income,Approved
count,653.000000,653.000000,653.000000,653.000000,653.000000,653.000000,653.000000,653.000000,653.000000,653.000000,653.000000,653.000000,653.000000,653.000000,653.000000,653.000000
mean,0.689127,31.503813,4.829533,0.238897,0.232772,5.101072,1.153139,2.244296,0.534456,0.439510,2.502297,0.462481,0.165391,180.359877,1013.761103,0.453292
std,0.463206,11.838267,5.027077,0.433866,0.422922,4.233472,2.074785,3.371120,0.499194,0.496708,4.968497,0.498973,0.548475,168.296811,5253.278504,0.498195
min,0.000000,13.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,22.580000,1.040000,0.000000,0.000000,0.000000,0.000000,0.165000,0.000000,0.000000,0.000000,0.000000,0.000000,73.000000,0.000000,0.000000
50%,1.000000,28.420000,2.835000,0.000000,0.000000,5.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,160.000000,5.000000,0.000000
75%,1.000000,38.250000,7.500000,0.000000,0.000000,8.000000,1.000000,2.625000,1.000000,1.000000,3.000000,1.000000,0.000000,272.000000,400.000000,1.000000
max,1.000000,76.750000,28.000000,2.000000,1.000000,12.000000,8.000000,28.500000,1.000000,1.000000,67.000000,1.000000,2.000000,2000.000000,100000.000000,1.000000

In [5]:
credit.columns

Index(['Male', 'Age', 'Debt', 'Married', 'Bank Customer', 'Education Level',
       'Ethnicity', 'Years Employed', 'Prior Default', 'Employed',
       'Credit Score', 'Driver's License', 'Citizen', 'Zip Code', 'Income',
       'Approved'],
      dtype='object')

In [6]:
from sklearn.model_selection import train_test_split
X,Y = credit.iloc[:,credit.columns != 'Approved'] , credit["Approved"]
credit.to_numpy
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,random_state=12)

In [7]:
X_train.head()

,Male,Age,Debt,Married,Bank Customer,Education Level,Ethnicity,Years Employed,Prior Default,Employed,Credit Score,Driver's License,Citizen,Zip Code,Income
391,1,31.25,2.835,0,0,12,7,0.00,0,1,5,0,0,176,146
67,1,25.50,0.375,0,0,5,0,0.25,1,1,3,0,0,260,15108
308,0,18.08,0.375,2,0,0,7,10.00,0,0,0,1,2,300,0
444,0,30.42,1.375,0,0,8,1,0.04,0,1,3,0,0,0,33
354,1,26.33,13.000,0,0,10,6,0.00,0,0,0,1,0,140,1110

<h1>Random Forest<h1>

In [10]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=100)
rf.fit(X_train, Y_train)
y_pred = rf.predict(X_test)
print("Random Forest classifier has accuracy of: ", rf.score(X_test, Y_test))

Random Forest classifier has accuracy of:  0.8963414634146342

<ul>
<li>Cross-validation</li>

In [11]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
kfold = KFold(n_splits=10, shuffle=True, random_state = 12)
ranFrost = RandomForestClassifier()
scores = cross_val_score(rf, X,Y,cv = kfold)
print("Cross-validation score for random Frost: \n{}".format(scores))

Cross-validation score for random Frost:
[0.90909091 0.92424242 0.87878788 0.86153846 0.87692308 0.86153846
 0.90769231 0.84615385 0.86153846 0.84615385]

<li>Grid Search</li>

In [12]:
from pprint import pprint
print("parameters currently in use for random forest:\n")
pprint(rf.get_params())

parameters currently in use for random forest:

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [13]:
n_estimators = [100, 200, 400, 800, 100]
max_features = ["auto", "sqrt"]
min_samples_split = [2,4,6,8,10]
min_samples_leaf = [1,2,3,4,5]
bootstrap = [True, False]
random_state = [12]

random_para_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap, 'random_state': random_state}
random_para_grid

{'n_estimators': [100, 200, 400, 800, 100],
 'max_features': ['auto', 'sqrt'],
 'min_samples_split': [2, 4, 6, 8, 10],
 'min_samples_leaf': [1, 2, 3, 4, 5],
 'bootstrap': [True, False],
 'random_state': [12]}

In [14]:
from sklearn.model_selection import GridSearchCV
rf_grid = GridSearchCV(ranFrost, random_para_grid, cv = 3, n_jobs = -1)
#x_trainval, X_val, y_trainval, y_val = train_test_split(X_train,Y_train, random_state=12)
rf_grid.fit(X_train,Y_train)
print(rf_grid.best_estimator_)
print(rf_grid.best_params_)
print(rf_grid.best_score_)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=2, min_samples_split=6,
                       min_weight_fraction_leaf=0.0, n_estimators=400,
                       n_jobs=None, oob_score=False, random_state=12, verbose=0,
                       warm_start=False)
{'bootstrap': True, 'max_features': 'auto', 'min_samples_leaf': 2, 'min_samples_split': 6, 'n_estimators': 400, 'random_state': 12}
0.8813905930470347

In [15]:
print ("Test set score: {}".format(rf_grid.score(X_test, Y_test)))

Test set score: 0.9146341463414634

<h2>Decision Tree<h2>

In [52]:
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier()
tree = tree.fit(X_train, Y_train)
print("Accuracy:", tree.score(X_test, Y_test))

Accuracy: 0.8597560975609756

<ul>
<li>Cross-validation</li>

In [53]:
oneTree = DecisionTreeClassifier()
scores = cross_val_score(oneTree, X,Y, cv = 10)
print("Cross-validation score for desision tree: {}".format(scores))

Cross-validation score for desision tree: [0.54545455 0.8030303  0.86363636 0.90769231 0.87692308 0.84615385
 0.89230769 0.61538462 0.92307692 0.93846154]

<li>Grid Search</li>

In [54]:
print("current use parameter in decision tree:\n")
pprint(tree.get_params())

current use parameter in decision tree:

{'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'presort': 'deprecated',
 'random_state': None,
 'splitter': 'best'}

In [55]:
max_features = ["None", "auto"]
min_samples_split = [2,4,6,8,10]
min_samples_leaf = [1,2,3,4,5]

tree_para_grid = {
               'max_features': max_features,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf}
tree_para_grid

{'max_features': ['None', 'auto'],
 'min_samples_split': [2, 4, 6, 8, 10],
 'min_samples_leaf': [1, 2, 3, 4, 5]}

In [56]:
tree_grid = GridSearchCV(oneTree, tree_para_grid, cv = 3, n_jobs = -1)
#x_trainval, X_val, y_trainval, y_val = train_test_split(X_train,Y_train, random_state=12)
tree_grid.fit(X_train,Y_train)
print(tree_grid.best_estimator_)
print(tree_grid.best_params_)
print(tree_grid.best_score_)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=5, min_samples_split=10,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')
{'max_features': 'auto', 'min_samples_leaf': 5, 'min_samples_split': 10}
0.8261758691206543

In [57]:
print ("Test set score: {}".format(tree_grid.score(X_test, Y_test)))

Test set score: 0.9085365853658537